$darkpurple: #0c002B;
$grey: #FAF7F5;
$offwhite: #FFFEFF;
$pink: #FF718E;
$darkgrey: #bac0c9;
$lightgrey:#dadde2;



$grid-columns: 12;
$grid-columns: 1200px;
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1080px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
